*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    
    width: 100%;
    height: 100%;
}

.main{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 168, 0, 0.578);
}

.panel{
    overflow: hidden;
    height: 90%;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
}

.ptop{
    padding: 0px 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgb(1, 96, 1);
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2{
    font-weight: 500;
    font-size: 22px;
}

.box{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    color: rgb(7, 143, 7);
    font-weight: 600;
    font-size: 25px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
}

.pbtm{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 10px;
    height: calc(100% - 100px);
    width: 100%;
}

.bubble{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    color: #fff;
    background-color: rgb(79, 128, 0);
    border-radius: 50%;
    font-weight: 700;
}

.bubble:hover{
    cursor: pointer;
    background-color:rgb(128, 96, 0) ;
}